* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: rgb(245, 244, 244);
}


.border a{
  color: #000;
}

html {
  background-color: rgb(245, 244, 244);
}

.border{
  background-color:rgb(201, 201, 201);
  border-radius: 10px;
  margin-left: 1vh;
}

body {
  display: flex;
  flex-direction: row;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: rgb(150, 149, 149);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header img {
  width: 4.5vh;
}

header nav {
  display: flex;
}

header nav a {
  padding: 7px;
  text-decoration: none;
  font-size: 2.2vh;
}

header .logo {
  font-family: Calibri;
  font-size: 3vh;
}

header a {
  text-decoration: none;
}

header nav a:hover {
  color: blue;
}

.square-one,
.square-two {
  width: 50%;
  height: 100%;
}

.square-one {
  animation: animation_square 3s;
  justify-content: center;
  align-items: center;
  padding: 20vh;
  background-color: rgb(245, 244, 244);
}

.square-two {
  background-color: rgb(255, 255, 255);
}

.square-one h1 {
  font-size: 37px;
  padding: 20px 0;
  margin-top: 100px;
}

.square-one h1:hover {
  color: rgb(2, 2, 192);
}

.square-one p {
  transform: scale(1);
  text-align: left;
  font-size: 20px;
}

.square-one p:hover {
  color: rgb(2, 2, 192);
}

.square-one a {
  color: black;
  padding: 10px 0;
}

.square-one a:hover {
  color: blue;
}

.square-one .icons i {
  columns: black;
  padding: 20px 0;
  font-size: 50px;
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.square-two {
  animation: animation_square 2.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(245, 244, 244);
}

.square-two img {
  margin-top: 0vh;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.square-two img:hover {
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

@media screen and (max-width: 1300px) {
  body {
    flex-direction: column;
  }

  .square-one,
  .square-two {
    width: 100%;
    margin: 0 auto 20px;
    padding: 20px;
  }

  header {
    padding: 10px;
  }

  .square-two img {
    margin-top: 5vh;
    width: 200px;
    height: 270px;
  }

  header .logo {
    font-size: 2.5vh;
  }

  .square-one h1 {
    font-size: 4vh;
  }

  header nav a {
    font-size: 1.8vh;
  }
}

.square-two span {
  margin-top: 20px;
}

.square-two span:hover {
  color: blue;
}

@keyframes animation_square {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
