* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

html {
  background-color: rgb(255, 255, 255);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: rgb(150, 149, 149);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header img {
  width: 4.5vh;
}

header nav {
  display: flex;
}

header nav a {
  padding: 7px;
  text-decoration: none;
  font-size: 2.2vh;
  color: black;
}

header .logo {
  font-family: Calibri;
  font-size: 3vh;
}

header a {
  text-decoration: none;
}

header nav a:hover {
  color: blue;
}

.square {
  animation: animation_square 2.5s;
  padding: 10px;
  padding-bottom: -10vh;
  transform: scale(1);
  margin-top: -10vh;
  margin-bottom: -5vh;
  width: 40vh;
  height: 30vh;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.border{
  background-color:rgb(201, 201, 201);
  border-radius: 10px;
  margin-left: 1vh;
}

.link{
  display: flex;
  background-color: rgb(224, 224, 224);
  height: 35px;
  width: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.link:hover{
  background-color: rgb(187, 187, 187);
}

.link a{
  color: black;
}

.final{
  width: 0vh;
  height: 0vh;
}

.square:hover {
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
}

.container {
  margin-top: 7vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
}

.square h1 {
  text-align: center;
  font-size: 20px;
}


.group{
  margin-top: -1vh;
}

.square a {
  text-decoration: none;
}


.container .square {
  margin: 50px; 
}

.white{
  padding: 10px;
  transform: scale(1);
  margin-top: -10vh;
  margin-bottom: -10vh;
  width: 40vh;
  height: 20vh;
  border-radius: 10px;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

@media screen and (max-width: 600px) {
.square{
  height: 55vh;
  width: 58vh;
  margin-bottom: 1vh;
}

.final{
  width: 40vh;
  height: 17vh;
}

.square h1{
  font-size: 15px;
}

header{
  height: 8vh;
}
}

.container .square h1:hover{
  color: blue;
}


@keyframes animation_square {
  0%{
    opacity: 0%;
  }

  100%{
    opacity: 100%;
  }
}


