* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  background-color: rgb(255, 255, 255);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: rgb(150, 149, 149);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 4.5vh;
}

header nav a {
  padding: 7px;
  color: black;
  text-decoration: none;
  font-size: 2.2vh;
}

header nav {
  display: flex;
  
}

header .logo {
  font-family: Calibri;
  font-size: 3vh;
}

.border{
  
  background-color:rgb(201, 201, 201);
  border-radius: 10px;
  margin-left: 1vh;
}

header a {
  text-decoration: none;
}

header nav a:hover {
  color: blue;
}

.container {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.square {
  margin-top: 10vh;
  animation: animation_square 2.5s;
  padding: 40px;
  padding-bottom: 5px;
  transform: scale(1);
  width: 50vh;
  height: 60vh;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.square:hover {
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
}

.square p {
  font-size: 24px;
}

.square h5 {
  font-size: 24px;
}

.square h5:hover {
  color: blueviolet;
}

.square h1 {
  text-align: center;
  margin-bottom: 3vh;
}

.square h6 {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.square .languages {
  margin-bottom: 3vh;
}

.square .databases {
  margin-bottom: 3vh;
}

@media screen and (max-width: 600px) {
  .square {
    width: 30vh;
    height: 45vh;
  }

  .square h6 {
    font-size: 17px;
  }
  
  .square h5 {
    font-size: 15px;
  }
  
  .square p {
    font-size: 13px;
  }
}



.container .square h1:hover {
  color: blue;
}

@keyframes animation_square {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



